/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  width: 100px;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.content {
  width: 100%;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
}
.mybody {
  width: 700px;
  display: flex;
  justify-content: start;
}
.center-me {
  display: flex;
  justify-content: center;
}
.details {
  font-size: 23px;
  font-weight: bold;
}
