<div class="mybody">
  <div class="center-me">
    <div class="content">
      <h2>My Heroes</h2>
  
      <div class="search-head">
        <input id="new-hero" placeholder="Add A New Hero" #heroName />
        <!-- (click) passes input value to add() and then clears the input -->
        <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
          Add hero
        </button>
      </div>
  
      <ul class="heroes">
        <li class="item" *ngFor="let hero of heroes">
          <a routerLink="/detail/{{hero.id}}">
              <span class="badge">{{hero.id}}</span> {{hero.name}}
          </a>
          <button type="button" class="delete" title="delete hero" (click)="delete(hero)">
            <i class="fa fa-trash"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>